{% extends 'main/layout.html' %}

{% block title %}Форма по добавлению монеты{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению монеты</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}

            <input type="text" placeholder="Название монеты" class="form-control"><br>
            <input type="text" placeholder="Описание монеты" class="form-control"><br>
            <input type="text" placeholder="Капитализация" class="form-control"><br>
            <input type="text" placeholder="Стоимость" class="form-control"><br>
            <input type="date" class="form-control"><br>
            <input type="time" class="form-control"><br>
            <button class="btn btn-success" type="submit"> Добавить монету</button>
        </form>
    </div>
{% endblock %}