{% extends 'main/layout.html' %}

{% block title %}Монеты{% endblock %}

{% block content %}
    <div class="features">
        <h1>Монеты</h1>
        {% if coins %}
            {% for elem in coins %}
                <div class="alert alert-warning">
                    <h3>{{ elem.title }}</h3><br>
                    <h5>Описание:</h5><p> {{ elem.description }}</p>
                    <p><h4><b> Cтоимость 1 монеты: <i>{{ elem.cost }}$</i></b></h4></p>
                </div>
            {% endfor %}
        {% else %}
            <p>Монеты не найдены, попробуйте позже</p>
        {% endif %}
    </div>
{% endblock %}