{% extends 'main/layout.html' %}

{% block title %}Монеты{% endblock %}

{% block content %}
    <div class="features">
        <h1>Монеты</h1>
        {% if coins %}
            {% for elem in coins %}
                <div class="alert alert-warning">
                    <h3><b>{{ elem.title }}</b></h3>
                    <p><h5><b> Cтоимость 1 монеты: {{ elem.cost }}$</b></h5>
                    <a href="{% url 'coins-detail' elem.id %}" class="btn btn-warning">Читать далее</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Монеты не найдены, попробуйте позже</p>
        {% endif %}
    </div>
{% endblock %}