body {
    background: #2c2c2c;
    font-family: Monospaced, monospace;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 200vh;
    color: #fff;
    border-right: 5px solid #424242;
    font-family: Monospaced, monospace;
}

aside img {
    width: 60px;
    float: left;
}

aside .logo {
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 10px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
    font-family: Monospaced, monospace;
}

aside ul {list-style: none}

aside ul li{
    color: #fff;
    display: block;
    margin-top: 10px;
    transition: transform .6s ease;
    font-family: Monospaced, monospace;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.2);
    font-family: Monospaced, monospace;
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px}
main .features p {max-width: 400px; margin: 20px auto}

main ol {
    margin-left: 20px;
    font-size: 20px;
    color: antiquewhite;
    float: left;
    text-align: -webkit-left;
}

main i {
    margin-left: 20px;
    color: #70f5d2;
    float: left;
    text-align: -webkit-left;
}

main h4 {
    margin-left: 20px;
    color: #8dcaff;
    float: left;
    text-align: -webkit-left;
}

main h5 {
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
}

main ul {
    font-size: 20px;
    margin-left: 20px;
    color: #8dcaff;
    float: left;
    text-align: -webkit-left;
}

.alert-warning {
    float: left;
    clear: both;
    width: 600px;
    margin: 30px 22%;
    text-align: center;
}

form {
    margin-left: 26%;
    width: 500px;
    margin-top: 50px;
}